body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: '#00496c';
  font-family: 'Georgia', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
}
